{{ partial "header" . }}

<main id='main' class='main'>

  <header class='header-container'>
    <div class='header list-header'>
      <div class='header-info'>
        <h1 class='title'>
          {{- .Title -}}
        </h1>

        {{ partial "header/subtitle" . }}
      </div>
    </div>
  </header>

  {{ if .Content }}
  <div class='entry'>
    {{ partial "entry/content" . }}
  </div>
  {{ end }}

  <div class='list-container'>
    <ul class='list'>
      {{ range ( where .Site.Sections "Section" "!=" "page" ) }}
        <h2>
          <a href='{{ .RelPermalink }}'>
            {{- .Title -}}
          </a>
        </h2>
        <div>
          {{ .Content }}
        </div>
      {{ end }}
    </ul>
  </div>
</main>

{{ partial "footer" . }}
